<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finsweet</title>
    <link
      rel="shortcut icon"
      href="../../assets/favicon-DVD8y659.png"
      type="image/x-icon"
    />
    <script type="module" crossorigin src="../../assets/main-CJqnA-3R.js"></script>
    <link rel="stylesheet" crossorigin href="../../assets/main-kmpbHCLW.css">
  </head>
  <body>
    <div id="app">
      <!--menu-->
      <label for="show">
        <div></div>
        <div></div>
        <div></div>
      </label>
      <input type="radio" name="menu" id="show" />
      <input type="radio" name="menu" id="close" />
      <header>
        <label for="close"> &times; </label>
        <div class="logo">
          <img
            src="../../assets/Logo-B8ZhQzM_.svg"
            alt="FinsweetLogo"
          />
        </div>
        <div class="menuItems">
          <div class="menu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="./aboutUs.html" 
                    >About Us</a
                  >
                </li>
                <li>
                  <a href="#">Features</a>
                </li>
                <li>
                  <a href="./pricing.html">Pricing</a>
                </li>
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>
                  <a href="#" class="active"
                    >Blog</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="contactBtn">
            <a href="#">
              <button>Contact us</button>
            </a>
          </div>
        </div>
      </header>
      <!--end menu-->
      <!--featured blog -->
      <div class="w-full flex flex-col xl:gap-12 xs:gap-5 justify-center items-center xl:px-40 xl:py-56 xs:p-[50px] box-border ">
        <div class=" flex flex-col justify-center items-center gap-2">
            <div class="font-[Poppins] font-semibold text-center  xl:text-[45px] xs:text-[25px] text-[#282938] xl:px-40">A UX Case Study on Creating a Studious Environment for Students</div>
            <div class="font-[Poppins] text-[#282938] xl:text-[16px] xs:text-[14px] font-medium ">Andrew Jonson Posted on 27th January 2021</div>
        </div>
        <img src="../../assets/blogPage--CL4B1VT.png" alt="blog">
        <div class="font-[Poppins] xl:text-[16px] xs:text-[14px] text-[#282938] opacity-70 font-normal text-center leading-7 ">
            Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.
        </div>
        <div class="font-[Poppins] font-normal xl:text-[16px] xs:text-[14px] text-[#2405f2] opacity-70">Read more</div>
      </div>
      <!--end featured blog -->
         <!--blog-->
         <div class="flex flex-col xl:gap-12 xs:gap-6 justify-center items-center xl:px-40 xl:py-32 xs:p-[50px] box-border">
          <div class="font-[Poppins] font-semibold xl:text-5xl xs:text-2xl">
            Our blog
          </div>
          <div class="grid xl:grid-cols-1 grid-rows-2 gap-16">
            <div class="grid xl:grid-cols-3 xl:grid-rows-1 gap-8 xs:grid-cols-1 xs:grid-rows-3">
              <div class="flex flex-col xl:gap-6 xs:gap-4 justify-start xl:items-start xs:items-center ">
                <img src="../../assets/card1-gzE10PKn.png" alt="card1" class="xs:w-full">
                <div class="flex flex-col gap-2">
                  <div class="font-[Poppins] font-semibold text-[16px] text-[#282938] opacity-70">
                    19 Jan 2022
                  </div>
                  <div class="font-[Poppins] text-[24px] font-normal text-[#282938] ">
                    How one Webflow user grew his single person consultancy from $0-100K in 14 months
                  </div>
                  <div class="font-[Poppins] text-[16px] font-normal text-[#282938] opacity-70">See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract</div>
                </div>
                <a href="#" class="flex flex-row gap-2 font-[Poppins] text-[16px] text-[#282938]
                items-center justify-center font-medium"
                  >Read More
                  <img src="data:image/svg+xml,%3csvg%20width='25'%20height='12'%20viewBox='0%200%2025%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M24.5303%206.53033C24.8232%206.23744%2024.8232%205.76256%2024.5303%205.46967L19.7574%200.696699C19.4645%200.403806%2018.9896%200.403806%2018.6967%200.696699C18.4038%200.989593%2018.4038%201.46447%2018.6967%201.75736L22.9393%206L18.6967%2010.2426C18.4038%2010.5355%2018.4038%2011.0104%2018.6967%2011.3033C18.9896%2011.5962%2019.4645%2011.5962%2019.7574%2011.3033L24.5303%206.53033ZM0%206.75H24V5.25H0V6.75Z'%20fill='%23282938'/%3e%3c/svg%3e" alt="arrow" class="svg"/>
                </a>
              </div>
              <div class="flex flex-col xl:gap-4 xs:gap-2 justify-start xl:items-start xs:items-center ">
                <img src="../../assets/card2-tfgSUoCN.png" alt="card1" class="xs:w-full">
                <div class="flex flex-col gap-2">
                  <div class="font-[Poppins] font-semibold text-[16px] text-[#282938] opacity-70 ">
                    19 Jan 2022
                  </div>
                  <div class="font-[Poppins] text-[24px] font-normal text-[#282938] ">
                    How one Webflow user grew his single person consultancy from $0-100K in 14 months
                  </div>
                  <div class="font-[Poppins] text-[16px] font-normal text-[#282938] opacity-70">See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract</div>
                </div>
                <a href="#" class="flex flex-row gap-2 font-[Poppins] text-[16px] text-[#282938]
                items-center justify-center font-medium"
                  >Read More
                  <img src="data:image/svg+xml,%3csvg%20width='25'%20height='12'%20viewBox='0%200%2025%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M24.5303%206.53033C24.8232%206.23744%2024.8232%205.76256%2024.5303%205.46967L19.7574%200.696699C19.4645%200.403806%2018.9896%200.403806%2018.6967%200.696699C18.4038%200.989593%2018.4038%201.46447%2018.6967%201.75736L22.9393%206L18.6967%2010.2426C18.4038%2010.5355%2018.4038%2011.0104%2018.6967%2011.3033C18.9896%2011.5962%2019.4645%2011.5962%2019.7574%2011.3033L24.5303%206.53033ZM0%206.75H24V5.25H0V6.75Z'%20fill='%23282938'/%3e%3c/svg%3e" alt="arrow" class="svg"/>
                </a>
              </div>
              <div class="flex flex-col xl:gap-4 xs:gap-2 justify-start xl:items-start xs:items-center ">
                <img src="../../assets/card3-D1K2eRVI.png" alt="card1" class="xs:w-full">
                <div class="flex flex-col gap-2">
                  <div class="font-[Poppins] font-semibold text-[16px] text-[#282938] opacity-70 ">
                    19 Jan 2022
                  </div>
                  <div class="font-[Poppins] text-[24px] font-normal text-[#282938] ">
                    How one Webflow user grew his single person consultancy from $0-100K in 14 months
                  </div>
                  <div class="font-[Poppins] text-[16px] font-normal text-[#282938] opacity-70">See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract</div>
                </div>
                <a href="#" class="flex flex-row gap-2 font-[Poppins] text-[16px] text-[#282938]
                items-center justify-center font-medium"
                  >Read More
                  <img src="data:image/svg+xml,%3csvg%20width='25'%20height='12'%20viewBox='0%200%2025%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M24.5303%206.53033C24.8232%206.23744%2024.8232%205.76256%2024.5303%205.46967L19.7574%200.696699C19.4645%200.403806%2018.9896%200.403806%2018.6967%200.696699C18.4038%200.989593%2018.4038%201.46447%2018.6967%201.75736L22.9393%206L18.6967%2010.2426C18.4038%2010.5355%2018.4038%2011.0104%2018.6967%2011.3033C18.9896%2011.5962%2019.4645%2011.5962%2019.7574%2011.3033L24.5303%206.53033ZM0%206.75H24V5.25H0V6.75Z'%20fill='%23282938'/%3e%3c/svg%3e" alt="arrow" class="svg"/>
                </a>
              </div>
            </div>
  
            <!--bootom-->
            <div class="grid xl:grid-cols-3 xl:grid-rows-1 gap-8 xs:grid-cols-1 xs:grid-rows-3">
              <div class="flex flex-col xl:gap-4 xs:gap-2 justify-start xl:items-start xs:items-center ">
                <img src="../../assets/card4-CMaayJse.png" alt="card1" class="xs:w-full" >
                <div class="flex flex-col gap-2">
                  <div class="font-[Poppins] font-semibold text-[16px] text-[#282938] opacity-70 ">
                    19 Jan 2022
                  </div>
                  <div class="font-[Poppins] text-[24px] font-normal text-[#282938] ">
                    How one Webflow user grew his single person consultancy from $0-100K in 14 months
                  </div>
                  <div class="font-[Poppins] text-[16px] font-normal text-[#282938] opacity-70">See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract</div>
                </div>
                <a href="#" class="flex flex-row gap-2 font-[Poppins] text-[16px] text-[#282938]
                items-center justify-center font-medium"
                  >Read More
                  <img src="data:image/svg+xml,%3csvg%20width='25'%20height='12'%20viewBox='0%200%2025%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M24.5303%206.53033C24.8232%206.23744%2024.8232%205.76256%2024.5303%205.46967L19.7574%200.696699C19.4645%200.403806%2018.9896%200.403806%2018.6967%200.696699C18.4038%200.989593%2018.4038%201.46447%2018.6967%201.75736L22.9393%206L18.6967%2010.2426C18.4038%2010.5355%2018.4038%2011.0104%2018.6967%2011.3033C18.9896%2011.5962%2019.4645%2011.5962%2019.7574%2011.3033L24.5303%206.53033ZM0%206.75H24V5.25H0V6.75Z'%20fill='%23282938'/%3e%3c/svg%3e" alt="arrow" class="svg"/>
                </a>
              </div>
              <div class="flex flex-col xl:gap-4 xs:gap-2 justify-start xl:items-start xs:items-center ">
                <img src="../../assets/card5-4LsQA_eF.png" alt="card1" class="xs:w-full">
                <div class="flex flex-col gap-2">
                  <div class="font-[Poppins] font-semibold text-[16px] text-[#282938] opacity-70 ">
                    19 Jan 2022
                  </div>
                  <div class="font-[Poppins] text-[24px] font-normal text-[#282938] ">
                    How one Webflow user grew his single person consultancy from $0-100K in 14 months
                  </div>
                  <div class="font-[Poppins] text-[16px] font-normal text-[#282938] opacity-70">See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract</div>
                </div>
                <a href="#" class="flex flex-row gap-2 font-[Poppins] text-[16px] text-[#282938]
                items-center justify-center font-medium"
                  >Read More
                  <img src="data:image/svg+xml,%3csvg%20width='25'%20height='12'%20viewBox='0%200%2025%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M24.5303%206.53033C24.8232%206.23744%2024.8232%205.76256%2024.5303%205.46967L19.7574%200.696699C19.4645%200.403806%2018.9896%200.403806%2018.6967%200.696699C18.4038%200.989593%2018.4038%201.46447%2018.6967%201.75736L22.9393%206L18.6967%2010.2426C18.4038%2010.5355%2018.4038%2011.0104%2018.6967%2011.3033C18.9896%2011.5962%2019.4645%2011.5962%2019.7574%2011.3033L24.5303%206.53033ZM0%206.75H24V5.25H0V6.75Z'%20fill='%23282938'/%3e%3c/svg%3e" alt="arrow" class="svg"/>
                </a>
              </div>
              <div class="flex flex-col xl:gap-4 xs:gap-2 justify-start xl:items-start xs:items-center ">
                <img src="../../assets/card6-CVNNEO3k.png" alt="card1" class="xs:w-full">
                <div class="flex flex-col gap-2">
                  <div class="font-[Poppins] font-semibold text-[16px] text-[#282938] opacity-70">
                    19 Jan 2022
                  </div>
                  <div class="font-[Poppins] text-[24px] font-normal text-[#282938] ">
                    How one Webflow user grew his single person consultancy from $0-100K in 14 months
                  </div>
                  <div class="font-[Poppins] text-[16px] font-normal text-[#282938] opacity-70">See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract</div>
                </div>
                <a href="#" class="flex flex-row gap-2 font-[Poppins] text-[16px] text-[#282938]
                items-center justify-center font-medium"
                  >Read More
                  <img src="data:image/svg+xml,%3csvg%20width='25'%20height='12'%20viewBox='0%200%2025%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M24.5303%206.53033C24.8232%206.23744%2024.8232%205.76256%2024.5303%205.46967L19.7574%200.696699C19.4645%200.403806%2018.9896%200.403806%2018.6967%200.696699C18.4038%200.989593%2018.4038%201.46447%2018.6967%201.75736L22.9393%206L18.6967%2010.2426C18.4038%2010.5355%2018.4038%2011.0104%2018.6967%2011.3033C18.9896%2011.5962%2019.4645%2011.5962%2019.7574%2011.3033L24.5303%206.53033ZM0%206.75H24V5.25H0V6.75Z'%20fill='%23282938'/%3e%3c/svg%3e" alt="arrow" class="svg"/>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--end blog-->
      <!--footer-->
      <footer>
        <div class="footer">
          <div class="content">
            <div class="left">
              <img src="../../assets/Logo-B8ZhQzM_.svg" alt="logo" />
              <div class="caption">
                We are always open to discuss your project and improve your
                online presence.
              </div>
            </div>
            <div class="right">
              <div class="title">Lets Talk!</div>
              <div class="text">
                We are always open to discuss your project, improve your online
                presence and help with your UX/UI design challenges.
              </div>
              <div class="socials">
                <img
                  src="../../assets/socials-Bue5POBS.svg"
                  alt="socialMedia"
                />
              </div>
            </div>
          </div>
          <div class="contactInfo">
            <div class="email">
              <div class="subject">Email me at</div>
              <div class="address">contact@website.com</div>
            </div>
            <div class="call">
              <div class="callUs">Call us</div>
              <div class="number">0927 6277 28525</div>
            </div>
          </div>
        </div>
        <div class="footerLinks">
          <div class="copyright">Copyright 2021, Finsweet.com</div>
          <div class="footerMenu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="./aboutUs.html">About Us</a>
                </li>
                <li>
                  <a href="#">Features</a>
                </li>
                <li>
                  <a href="./pricing.html">Pricing</a>
                </li>
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>
                  <a href="./blog.html">Blog</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </footer>
      <!--end footer-->
    </div>
  </body>
</html>
