<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finsweet</title>
    <link
      rel="shortcut icon"
      href="../../assets/favicon-DVD8y659.png"
      type="image/x-icon"
    />
    <script type="module" crossorigin src="../../assets/main-CJqnA-3R.js"></script>
    <script type="module" crossorigin src="../../assets/mdb.umd.min-dBB62KMc.js"></script>
    <link rel="stylesheet" crossorigin href="../../assets/main-kmpbHCLW.css">
    <link rel="stylesheet" crossorigin href="../../assets/mdb.umd-B8BB0q6Q.css">
  </head>
  <body>
    <div id="app">
      <!--menu-->
      <label for="show">
        <div></div>
        <div></div>
        <div></div>
      </label>
      <input type="radio" name="menu" id="show" />
      <input type="radio" name="menu" id="close" />
      <header>
        <label for="close"> &times; </label>
        <div class="logo">
          <img
            src="../../assets/Logo-B8ZhQzM_.svg"
            alt="FinsweetLogo"
          />
        </div>
        <div class="menuItems">
          <div class="menu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="./aboutUs.html">About Us</a>
                </li>
                <li>
                  <a href="#">Features</a>
                </li>
                <li>
                  <a href="#" class="active">Pricing</a>
                </li>
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>
                  <a href="./blog.html">Blog</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="contactBtn">
            <a href="#">
              <button>Contact us</button>
            </a>
          </div>
        </div>
      </header>
      <!--end menu-->
      <!--pricing heading-->
      <div class="pricingHeading">
        <div class="text">
          <div class="title">Our Pricing Plans</div>
          <div class="description">
            When you’re ready to go beyond prototyping in Figma, Webflow is
            ready to help you bring your designs to life — without coding them.
          </div>
        </div>
      </div>
      <!--end pricing heading-->
      <!--cards-->
      <div class="cards">
        <div class="pricingCards">
          <div class="top">
            <div class="priceText">
              <div class="price">$229</div>
              <div class="month">Per Design</div>
            </div>
            <div class="text">
              <div class="title">Landing Page</div>
              <div class="description">
                When you’re ready to go beyond prototyping in Figma,
              </div>
            </div>
          </div>
          <div class="middle">
            <ul>
              <li>
                <img
                  src="data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M13.7764%209.2373C14.5938%209.85204%2014.5701%2011.0865%2013.7295%2011.6689L3.85351%2018.5068C2.8587%2019.1954%201.5%2018.4834%201.5%2017.2734L1.5%203.00976C1.5%201.77291%202.91277%201.06741%203.90137%201.81055L13.7764%209.2373Z'%20fill='%2397DAAD'%20stroke='url(%23paint0_linear_174_502)'%20stroke-width='3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_174_502'%20x1='-4.84615'%20y1='-17'%20x2='11.6069'%20y2='11.3225'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='white'/%3e%3cstop%20offset='1'%20stop-color='white'%20stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"
                  alt="pointer"
                />
                All limited links
              </li>
              <li>
                <img
                  src="data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M13.7764%209.2373C14.5938%209.85204%2014.5701%2011.0865%2013.7295%2011.6689L3.85351%2018.5068C2.8587%2019.1954%201.5%2018.4834%201.5%2017.2734L1.5%203.00976C1.5%201.77291%202.91277%201.06741%203.90137%201.81055L13.7764%209.2373Z'%20fill='%2397DAAD'%20stroke='url(%23paint0_linear_174_502)'%20stroke-width='3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_174_502'%20x1='-4.84615'%20y1='-17'%20x2='11.6069'%20y2='11.3225'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='white'/%3e%3cstop%20offset='1'%20stop-color='white'%20stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"
                  alt="pointer"
                />
                Own analytics platform
              </li>
              <li>
                <img
                  src="data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M13.7764%209.2373C14.5938%209.85204%2014.5701%2011.0865%2013.7295%2011.6689L3.85351%2018.5068C2.8587%2019.1954%201.5%2018.4834%201.5%2017.2734L1.5%203.00976C1.5%201.77291%202.91277%201.06741%203.90137%201.81055L13.7764%209.2373Z'%20fill='%2397DAAD'%20stroke='url(%23paint0_linear_174_502)'%20stroke-width='3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_174_502'%20x1='-4.84615'%20y1='-17'%20x2='11.6069'%20y2='11.3225'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='white'/%3e%3cstop%20offset='1'%20stop-color='white'%20stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"
                  alt="pointer"
                />
                Chat support
              </li>
              <li class="disabled">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g style="mix-blend-mode: luminosity">
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      fill="#FC80AD"
                    />
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      stroke="url(#paint0_linear_174_512)"
                      stroke-width="3"
                    />
                  </g>
                  <defs>
                    <linearGradient
                      id="paint0_linear_174_512"
                      x1="-4.84615"
                      y1="-17"
                      x2="11.6069"
                      y2="11.3225"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>

                Optimize hashtags
              </li>
              <li class="disabled">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g style="mix-blend-mode: luminosity">
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      fill="#FC80AD"
                    />
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      stroke="url(#paint0_linear_174_512)"
                      stroke-width="3"
                    />
                  </g>
                  <defs>
                    <linearGradient
                      id="paint0_linear_174_512"
                      x1="-4.84615"
                      y1="-17"
                      x2="11.6069"
                      y2="11.3225"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>

                Unlimited users
              </li>
              <li class="none-light">
                none
              </li>

            </ul>
          </div>
          <div class="bottom">
            <button>Get Started</button>
          </div>
        </div>
        <div class="pricingCards background">
          <div class="top">
            <div class="priceText">
              <div class="price dark">$399</div>
              <div class="month dark">Multi Design</div>
            </div>
            <div class="text">
              <div class="title dark">Website Page </div>
              <div class="description dark">
                When you’re ready to go beyond prototyping in Figma,
              </div>
            </div>
          </div>
          <div class="middle">
            <ul >
              <li class="dark">
                <img
                  src="data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M13.7764%209.2373C14.5938%209.85204%2014.5701%2011.0865%2013.7295%2011.6689L3.85351%2018.5068C2.8587%2019.1954%201.5%2018.4834%201.5%2017.2734L1.5%203.00976C1.5%201.77291%202.91277%201.06741%203.90137%201.81055L13.7764%209.2373Z'%20fill='%2397DAAD'%20stroke='url(%23paint0_linear_174_502)'%20stroke-width='3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_174_502'%20x1='-4.84615'%20y1='-17'%20x2='11.6069'%20y2='11.3225'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='white'/%3e%3cstop%20offset='1'%20stop-color='white'%20stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"
                  alt="pointer"
                />
                All limited links
              </li>
              <li class="dark">
                <img
                  src="data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M13.7764%209.2373C14.5938%209.85204%2014.5701%2011.0865%2013.7295%2011.6689L3.85351%2018.5068C2.8587%2019.1954%201.5%2018.4834%201.5%2017.2734L1.5%203.00976C1.5%201.77291%202.91277%201.06741%203.90137%201.81055L13.7764%209.2373Z'%20fill='%2397DAAD'%20stroke='url(%23paint0_linear_174_502)'%20stroke-width='3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_174_502'%20x1='-4.84615'%20y1='-17'%20x2='11.6069'%20y2='11.3225'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='white'/%3e%3cstop%20offset='1'%20stop-color='white'%20stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"
                  alt="pointer"
                />
                Own analytics platform
              </li>
              <li class="dark">
                <img
                  src="data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M13.7764%209.2373C14.5938%209.85204%2014.5701%2011.0865%2013.7295%2011.6689L3.85351%2018.5068C2.8587%2019.1954%201.5%2018.4834%201.5%2017.2734L1.5%203.00976C1.5%201.77291%202.91277%201.06741%203.90137%201.81055L13.7764%209.2373Z'%20fill='%2397DAAD'%20stroke='url(%23paint0_linear_174_502)'%20stroke-width='3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_174_502'%20x1='-4.84615'%20y1='-17'%20x2='11.6069'%20y2='11.3225'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='white'/%3e%3cstop%20offset='1'%20stop-color='white'%20stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"
                  alt="pointer"
                />
                Chat support
              </li>
              <li class=" dark">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g style="mix-blend-mode: luminosity">
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      fill="#FC80AD"
                    />
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      stroke="url(#paint0_linear_174_512)"
                      stroke-width="3"
                    />
                  </g>
                  <defs>
                    <linearGradient
                      id="paint0_linear_174_512"
                      x1="-4.84615"
                      y1="-17"
                      x2="11.6069"
                      y2="11.3225"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>

                Optimize hashtags
              </li>
              <li class=" dark">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g style="mix-blend-mode: luminosity">
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      fill="#FC80AD"
                    />
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      stroke="url(#paint0_linear_174_512)"
                      stroke-width="3"
                    />
                  </g>
                  <defs>
                    <linearGradient
                      id="paint0_linear_174_512"
                      x1="-4.84615"
                      y1="-17"
                      x2="11.6069"
                      y2="11.3225"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>

                Unlimited users
              </li>
              <li class="none">
                none
              </li>
            </ul>
          </div>
          <div class="bottom">
            <button class="color">Get Started</button>
          </div>
        </div>
        <div class="pricingCards">
          <div class="top">
            <div class="priceText">
              <div class="price">$499 +</div>
              <div class="month">Per Design</div>
            </div>
            <div class="text">
              <div class="title">Complex Project</div>
              <div class="description">
                When you’re ready to go beyond prototyping in Figma,
              </div>
            </div>
          </div>
          <div class="middle">
            <ul>
              <li>
                <img
                  src="data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M13.7764%209.2373C14.5938%209.85204%2014.5701%2011.0865%2013.7295%2011.6689L3.85351%2018.5068C2.8587%2019.1954%201.5%2018.4834%201.5%2017.2734L1.5%203.00976C1.5%201.77291%202.91277%201.06741%203.90137%201.81055L13.7764%209.2373Z'%20fill='%2397DAAD'%20stroke='url(%23paint0_linear_174_502)'%20stroke-width='3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_174_502'%20x1='-4.84615'%20y1='-17'%20x2='11.6069'%20y2='11.3225'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='white'/%3e%3cstop%20offset='1'%20stop-color='white'%20stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"
                  alt="pointer"
                />
                All limited links
              </li>
              <li>
                <img
                  src="data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M13.7764%209.2373C14.5938%209.85204%2014.5701%2011.0865%2013.7295%2011.6689L3.85351%2018.5068C2.8587%2019.1954%201.5%2018.4834%201.5%2017.2734L1.5%203.00976C1.5%201.77291%202.91277%201.06741%203.90137%201.81055L13.7764%209.2373Z'%20fill='%2397DAAD'%20stroke='url(%23paint0_linear_174_502)'%20stroke-width='3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_174_502'%20x1='-4.84615'%20y1='-17'%20x2='11.6069'%20y2='11.3225'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='white'/%3e%3cstop%20offset='1'%20stop-color='white'%20stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"
                  alt="pointer"
                />
                Own analytics platform
              </li>
              <li>
                <img
                  src="data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M13.7764%209.2373C14.5938%209.85204%2014.5701%2011.0865%2013.7295%2011.6689L3.85351%2018.5068C2.8587%2019.1954%201.5%2018.4834%201.5%2017.2734L1.5%203.00976C1.5%201.77291%202.91277%201.06741%203.90137%201.81055L13.7764%209.2373Z'%20fill='%2397DAAD'%20stroke='url(%23paint0_linear_174_502)'%20stroke-width='3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_174_502'%20x1='-4.84615'%20y1='-17'%20x2='11.6069'%20y2='11.3225'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='white'/%3e%3cstop%20offset='1'%20stop-color='white'%20stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"
                  alt="pointer"
                />
                Chat support
              </li>
              <li >
                <img src="data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M13.7764%209.2373C14.5938%209.85204%2014.5701%2011.0865%2013.7295%2011.6689L3.85351%2018.5068C2.8587%2019.1954%201.5%2018.4834%201.5%2017.2734L1.5%203.00976C1.5%201.77291%202.91277%201.06741%203.90137%201.81055L13.7764%209.2373Z'%20fill='%2397DAAD'%20stroke='url(%23paint0_linear_174_502)'%20stroke-width='3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_174_502'%20x1='-4.84615'%20y1='-17'%20x2='11.6069'%20y2='11.3225'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='white'/%3e%3cstop%20offset='1'%20stop-color='white'%20stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e" alt="pointer">

                Optimize hashtags
              </li>
              <li>
                <img src="data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M13.7764%209.2373C14.5938%209.85204%2014.5701%2011.0865%2013.7295%2011.6689L3.85351%2018.5068C2.8587%2019.1954%201.5%2018.4834%201.5%2017.2734L1.5%203.00976C1.5%201.77291%202.91277%201.06741%203.90137%201.81055L13.7764%209.2373Z'%20fill='%2397DAAD'%20stroke='url(%23paint0_linear_174_502)'%20stroke-width='3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_174_502'%20x1='-4.84615'%20y1='-17'%20x2='11.6069'%20y2='11.3225'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='white'/%3e%3cstop%20offset='1'%20stop-color='white'%20stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e" alt="pointer">
                Unlimited users
              </li>
              <li>
                <img src="data:image/svg+xml,%3csvg%20width='16'%20height='21'%20viewBox='0%200%2016%2021'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M13.7764%209.2373C14.5938%209.85204%2014.5701%2011.0865%2013.7295%2011.6689L3.85351%2018.5068C2.8587%2019.1954%201.5%2018.4834%201.5%2017.2734L1.5%203.00976C1.5%201.77291%202.91277%201.06741%203.90137%201.81055L13.7764%209.2373Z'%20fill='%2397DAAD'%20stroke='url(%23paint0_linear_174_502)'%20stroke-width='3'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_174_502'%20x1='-4.84615'%20y1='-17'%20x2='11.6069'%20y2='11.3225'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='white'/%3e%3cstop%20offset='1'%20stop-color='white'%20stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e" alt="pointer">

                Assist and Help
              </li>
            </ul>
          </div>
          <div class="bottom">
            <button>Get Started</button>
          </div>
        </div>
      </div>
      <!--end cards-->
      <!--accardion-->
      <div class="FAQ">
        <div class="FAQheading">
          <div class="title">Frequently asked questions</div>
          <div class="description">Contact us for more info</div>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                data-mdb-collapse-init
                class="accordion-button d-flex flex-row flex-nowrap gap-4 justify-content-center align-items-center text-dark"
                type="button"
                data-mdb-target="#panelsStayOpen-collapseOne"
                aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne"
              >
                <h2 class="m-0">01</h2>
                How much time does it take?
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
            >
              <div class="accordion-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                data-mdb-collapse-init
                class="accordion-button collapsed d-flex flex-row flex-nowrap gap-4 justify-content-center align-items-center text-dark"
                type="button"
                data-mdb-target="#panelsStayOpen-collapseTwo"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo"
              >
                <h2 class="m-0">02</h2>
                What is your class naming convention?
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
            >
              <div class="accordion-body">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                data-mdb-collapse-init
                class="accordion-button collapsed d-flex flex-row flex-nowrap gap-4 justify-content-center align-items-center text-dark"
                type="button"
                data-mdb-target="#panelsStayOpen-collapseThree"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree"
              >
                <h2 class="m-0">03</h2>
                How do you communicate?
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
            >
              <div class="accordion-body">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                data-mdb-collapse-init
                class="accordion-button collapsed d-flex flex-row flex-nowrap gap-4 justify-content-center align-items-center text-dark"
                type="button"
                data-mdb-target="#panelsStayOpen-collapseFour"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFour"
              >
                <h2 class="m-0">04</h2>
                I have a bigger project. Can you handle it?
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
            >
              <div class="accordion-body">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                data-mdb-collapse-init
                class="accordion-button collapsed d-flex flex-row flex-nowrap gap-4 justify-content-center align-items-center text-dark"
                type="button"
                data-mdb-target="#panelsStayOpen-collapseFive"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFive"
              >
                <h2 class="m-0">05</h2>
                What is your class naming convention?
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
            >
              <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end acacrdion-->
                  <!--footer-->
                  <footer>
                    <div class="footer">
                      <div class="content">
                        <div class="left">
                          <img src="../../assets/Logo-B8ZhQzM_.svg" alt="logo">
                          <div class="caption">
                            We are always open to discuss your project and improve your online presence.
                          </div>
                        </div>
                        <div class="right">
                          <div class="title">Lets Talk!</div>
                          <div class="text">We are always open to discuss your project, improve your online presence and help with your UX/UI design challenges.</div>
                          <div class="socials">
                           <img src="../../assets/socials-Bue5POBS.svg" alt="socialMedia">
                          </div>
                        </div>
                      </div>
                      <div class="contactInfo">
                        <div class="email">
                          <div class="subject">
                            Email me at
                          </div>
                          <div class="address">
                            contact@website.com
                          </div>
                        </div>
                        <div class="call">
                          <div class="callUs">
                            Call us
                          </div>
                          <div class="number">
                            0927 6277 28525
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="footerLinks">
                      <div class="copyright">
                        Copyright 2021, Finsweet.com
                      </div>
                      <div class="footerMenu">
                        <nav>
                          <ul>
                            <li>
                              <a href="../../index.html">Home</a>
                            </li>
                            <li>
                              <a href="./aboutUs.html">About Us</a>
                            </li>
                            <li>
                              <a href="#">Features</a>
                            </li>
                            <li>
                              <a href="./pricing.html">Pricing</a>
                            </li>
                            <li>
                              <a href="#">FAQ</a>
                            </li>
                            <li>
                              <a href="./blog.html">Blog</a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                   </footer>
                  <!--end footer-->
    </div>
  </body>
</html>
